/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    position: relative;
}

.header-logo {
    display: inline-block;
}

.header-logo img {
    width: 80px;
    height: auto;
    margin-right: 10px;
    max-width: 100%;
}


.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #ec0b0b;
    position: absolute;
    top: 20px;
    right: 20px; /* Modificado */
}

nav {
    display: flex;
    justify-content: flex-end; /* Modificado */
}

nav ul {
    list-style-type: none;
    margin: 20;
    padding: 20;
    display: flex;

}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        display: none;
        width: 100%;
        position: fixed;
        top: 60px;
        right: 0; /* Modificado */
        background-color: #333;
        z-index: 999;
    }

    nav.active {
        display: flex;
        flex-direction: column;
        align-items: flex-end; /* Modificado */
    }

    nav ul {
        flex-direction: column;
        align-items: flex-end; /* Modificado */
    }

    nav ul li {
        margin: 15px 0;
    }

    nav ul li a {
        padding: 10px;
        color: #fff; /* Añadido */
    }

    .menu-toggle:checked + .menu-icon + nav {
        display: flex;
    }
}

/* Estilos para el banner */
.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/* Estilos para el contenido */
section {
    padding: 20px;
    text-align: justify;
}

h1 {
    font-size: 35px;
    color: #333;
}

h2 {
    font-size: 25px;
    color: #3500f3;
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content-container {
    flex: 1;
}

.website-logo {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-info {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
}

.menu-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu-item-footer {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
}

.social-container {
    display: flex;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #fff; /* Cambia esto al color de tu preferencia */
    margin-right: 10px;
    border-radius: 50%;
}

/* Agrega tus íconos de redes sociales aquí */
.social-link:nth-child(1) {
    /* Estilos del primer ícono */
}

.social-link:nth-child(2) {
    /* Estilos del segundo ícono */
}

.social-link:nth-child(3) {
    /* Estilos del tercer ícono */
}
