/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/imagenes/background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: 'Roboto', sans-serif;
}

/* Preheader */
.preheader {
    height: 50px;
    background: linear-gradient(to bottom, #FF5F6D, #FFC371);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preheader-content {
    text-align: center;
}

.preheader h1 {
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

/* Estilos del header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 80px;
    height: auto;
    max-width: 100%;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #ec0b0b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        display: none;
        width: 100%;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: #333;
        z-index: 999;
    }

    nav.active {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-end;
    }

    nav ul li {
        margin: 15px 0;
    }

    nav ul li a {
        padding: 10px;
        color: #fff;
    }

    .menu-toggle:checked + .menu-icon + nav {
        display: flex;
    }
}

/* Estilos para el banner */
.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/* Estilos para el cuerpo */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.image-container {
    flex: 1;
    margin: 10px;
}

.image-container img {
    width: 100%;
    max-width: 200px; 
    border-radius: 10px;
}

.text-container {
    flex: 2;
    margin: 10px;
}
/* Estilos del footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.footer-content-container {
    flex: 1;
}

.website-logo {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-info {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
}

.menu-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu-item-footer {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
}

.social-container {
    display: flex;
}

/* Estilos para los íconos de redes sociales */
.social-link {
    width: 30px; 
    height: 30px; 
    background-size: cover; 
    display: inline-block; 
    margin-right: 10px; 
}

.social-link:nth-child(1) {
    background-image: url('img/rr.ss/FacebookBlanco.png'); 
}

.social-link:nth-child(2) {
    background-image: url('img/rr.ss/TwitterBlanco.png'); 
}

.social-link:nth-child(3) {
    background-image: url('img/rr.ss/InstagramBlanco.png'); 
}

/*** FORMULARIO DE REGISTRO ****/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

#registro-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para dispositivos móviles */
