/*** FORMULARIO DE REGISTRO ****/
/*registro*/

.registro-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    gap: 20px;
    flex-direction: column;
}

.imagen-registro {
    width: 100%;
    display: flex;
    justify-content: center;
    height: max-content
}

.imagen-registro img {
    width: 20%;
}


#registro-form {
    background-color: #0c0c0ca2;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 5px;
    display: block;
    color: azure;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

p,
h2 {
    text-align: center;
    color: azure;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para dispositivos móviles */